#logo-img{
    margin-right: 40px;
}

input::placeholder,
textarea::placeholder {
    color: #ffffff;   /* thoda dark white */
    opacity: 1;       /* opacity full rakho warna light ho jaata hai */
}

.blog-section {
    padding: 100px 60px;
    background: #f7f7f7;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.section-header {
    text-align: center;
    margin-bottom: 60px;
}

.section-header h2 {
    font-size: 36px;
    color: #0e2207;
    margin-bottom: 15px;
}

.section-header p {
    color: #888888;
    font-size: 15px;
}

/* Grid */

.blog-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

/* Card */

.blog-card {
    background: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 8px 25px rgba(0,0,0,0.08);
    transition: 0.4s ease;
}

.blog-card:hover {
    transform: translateY(-8px);
}

/* Image */

.blog-img img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

/* Content */

.blog-content {
    padding: 25px;
}

.blog-content h3 {
    font-size: 18px;
    color: #1f6306;
    margin-bottom: 12px;
}

.blog-content p {
    font-size: 14px;
    color: #888888;
    margin-bottom: 18px;
    line-height: 1.6;
}

/* Button */

.read-more {
    display: inline-block;
    padding: 8px 18px;
    background: #ffcd1e;
    color: #000000;
    font-size: 13px;
    text-decoration: none;
    border-radius: 4px;
    transition: 0.3s;
}

.read-more:hover {
    background: #1f6306;
    color: #ffffff;
}

/* Responsive */

@media (max-width: 992px) {
    .blog-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .blog-section {
        padding: 70px 20px;
    }

    .blog-grid {
        grid-template-columns: 1fr;
    }
}
